            **Data Types and Structures Questions**

Q1. What are data structures, and why are they important?

ans: A data structure is a way of organizing and storing data so that it can be used effectively.  For example, if you need to store a list of names, you might use a list or an array. If you want to quickly find a phone number by name, a dictionary or hash table is better. Data structures are important because they help programs run faster and make solving problems easier. Without the right data structure, a program can become slow, messy, and hard to manage. Just like using the right tool makes a job easier, using the right data structure makes a program work better.

q2.Explain the difference between mutable and immutable data types with example?

ans: Mutable data types can be modified, meaning their contents can be altered without changing their identity in memory. For example, lists are mutable—you can add, remove, or change elements in a list. If you have a list like [1, 2, 3], you can update the first element to 100, and the list becomes [100, 2, 3]. On the other hand, immutable data types cannot be changed once they are created. This means that if you want to modify their value, a new object must be created instead. For instance, strings are immutable. If you have a string "hello" and want to change the first letter to uppercase, you can't directly modify it.

q3. What are the main differences between lists and tuples in Python?

ans: List and tuples both are the data structure used to store collection of items but the difference between them is the list is mutable means we can change their content after created , on other hand tuples are immutable which means we cannot change the content after created.

q4.  Describe how dictionaries store data.

ans: a dictionary is a data structure that stores data in the form of key-value pairs. Each item in a dictionary has a unique key that is used to access its value. This allows for fast and efficient data lookup. Dictionaries are defined using curly braces {}, with keys and values separated by a colon :. For example, {"name": "Dheeraj", "age": 22} is a dictionary where "name" and "age" are keys, and "Dheeraj" and 22 are their corresponding values.

q5. Why might you use a set instead of a list in Python?

ans:You might use a set instead of a list in Python when you need to store unique items and don't care about their order. A set automatically removes duplicates, which means if you try to add the same value more than once, it will only be stored once.

q6. What is a string in Python, and how is it different from a list?

ans: String is data structure in python used to store characters and the strings are immutable which means once string created their character cannot change , where list is mutable and store collection of data.

q7.  How do tuples ensure data integrity in Python?

ans: Tuples ensure data integrity in Python by being immutable, which means their content cannot be changed after creation. Once you define a tuple, you cannot add, remove, or modify its elements. This property makes tuples ideal for storing fixed collections of data that should not be accidentally altered in a program.

q8. What is a hash table, and how does it relate to dictionaries in Python?

ans: A hash table is a data structure that stores data using a key-value format and allows for very fast data access. It works by applying a hash function to a key, which converts the key into an index where the value is stored in memory. This means you can retrieve a value instantly by using its key, without searching through the entire collection.

q9. Can lists contain different data types in Python?

ans: Yes, list contain different data types. list can store integers, float value, characters, boolean value.
example: [1, 2.2, "dheeraj", TRUE]

q10. Explain why strings are immutable in Python?

ans: Strings are immutable in Python, which means once a string is created, its characters cannot be changed. For example, if you create a string "hello", you cannot change just the first letter to make it "Hello" directly—you would have to create a new string instead. This immutability is designed for efficiency and safety.

q11. What advantages do dictionaries offer over lists for certain tasks?

ans: Dictionaries offer several advantages over lists for certain tasks, especially when it comes to looking up data quickly. While lists store values by position (index), dictionaries store data as key-value pairs, allowing you to access values directly using a unique key. This makes dictionaries much faster for searching, retrieving, or updating data

q12.  Describe a scenario where using a tuple would be preferable over a list?

ans: a tuple is often preferable over a list when storing data that should remain unchanged throughout the program. For example, consider storing database connection settings like ("localhost", 5432, "admin")—the host, port, and username. These values are fixed for a session and should not be accidentally modified, making a tuple the safer choice.

q13. How do sets handle duplicate values in Python?

ans: sets automatically remove duplicate values. A set is an unordered collection of unique elements, which means that even if you try to add the same item more than once, it will only appear once in the set. For example, if you create a set like set([1, 2, 2, 3, 3, 3]), the result will be {1, 2, 3}. This feature makes sets especially useful when you need to eliminate duplicates from a list or check for unique items.

q14.How does the “in” keyword work differently for lists and dictionaries?

ans: the in keyword is used to check if a value exists, but it behaves differently for lists and dictionaries. When used with a list, in checks whether a specific value is present in the list. For example, "apple" in ["apple", "banana", "cherry"] will return True. However, when used with a dictionary, in checks whether a specific key exists in the dictionary—not the value. For instance, in {"name": "Dheeraj", "age": 22}, the expression "name" in dict returns True, but "Dheeraj" in dict returns False because "Dheeraj" is a value, not a key.

q15. Can you modify the elements of a tuple? Explain why or why not.

ans: No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its content—whether numbers, strings, or other data types—cannot be changed, added to, or removed. For example, if you create a tuple like (1, 2, 3), you cannot replace the 2 with another value directly.

q16. What is a nested dictionary, and give an example of its use case?

ans: A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store and organize complex, structured data using multiple levels of key-value pairs. Each key in the outer dictionary can hold another dictionary as its value. This is useful when you want to group related information together under a common category.

q17.  Describe the time complexity of accessing elements in a dictionary?

ans: accessing elements in a dictionary is generally very fast, with an average time complexity of O(1), also known as constant time. This means that no matter how large the dictionary is, retrieving a value using a key (like my_dict["name"]) typically takes the same amount of time. This speed is possible because Python dictionaries use a hash table under the hood, which quickly calculates the location of the value based on the key.

q18. In what situations are lists preferred over dictionaries?

ans: Lists are preferred over dictionaries when you need to store ordered sequences of items where the position (index) matters, and when you don’t need to label each item with a key. For example, when processing a series of numbers, names, or tasks in a specific order—like [10, 20, 30] or ["task1", "task2", "task3"]—a list is more suitable.

q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ans: Dictionaries in Python were originally considered unordered because they did not maintain the order in which key-value pairs were added. This meant that if you added items to a dictionary, you couldn't rely on them staying in the same sequence when you accessed or displayed the data. dictionaries are designed for fast data retrieval based on keys, not for storing items in a specific sequence.

q20. Explain the difference between a list and a dictionary in terms of data retrieval.

ans: In a list, data is retrieved using a numerical index. For example, my_list[0] gets the first item in the list. This works well when the order of elements matters, but it means you must know the exact position of the data. In contrast, a dictionary retrieves data using a unique key. For example, my_dict["name"] returns the value associated with the key "name", regardless of its position. This makes dictionaries much faster and more efficient for looking up values when you know the key.

                    ** PRACTICAL QUESTION **

q1. Write a code to create a string with your name and print it.

In [1]:
string = "dheeraj"
print(string)

dheeraj

q2.  Write a code to find the length of the string "Hello World"?
ans:

In [2]:
string = "Hello World"
print(len(string))

11

q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
string = "python programming"
print(string[0:3])

pyt

q4. Write a code to convert the string "hello" to uppercase.

ans:

In [6]:
string="hello"
print(string.upper())

HELLO

q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

ans:

In [7]:
text = "i like apple"
text2=text.replace("apple", "orange")
print(text2)

i like orange

q6. Write a code to create a list with numbers 1 to 5 and print it ?

ans:

In [8]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

q7. P Write a code to append the number 10 to the list [1, 2, 3, 4].

ans:

In [9]:
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

ans:

In [10]:
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

ans:

In [11]:
list = ['a', 'b', 'c', 'd']
print(list[1])

b

q10. Write a code to reverse the list [10, 20, 30, 40, 50].

ans:

In [12]:
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

ans:

In [15]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

ans:

In [16]:
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

ans:

In [18]:
tuple = (10, 20, 5, 15)
print(min(tuple))

5

q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

ans:

In [19]:
tuple=('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

ans:

In [20]:
tuple=('apple', 'banana', 'kiwi')
print('kiwi' in tuple)

True

q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

ans:

In [21]:
set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

ans:

In [22]:
set={1, 2, 3, 4, 5}
set.clear()
print(set)

set()

q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

ans:

In [23]:
set={1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

ans:

In [24]:
set1 ={1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

ans:

In [25]:
set1 ={1, 2, 3}
set2 ={2,3,4}
print(set1 & set2)

{2, 3}

q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

ans:

In [27]:
dict = {"name": "dheeraj", "age": 22, "city": "udaipur"}
print(dict)

{'name': 'dheeraj', 'age': 22, 'city': 'udaipur'}

q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

ans:

In [28]:
dict={'name': 'John', 'age': 25}
dict['country']="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

ans:

In [29]:
dict={'name': 'alice', 'age':30}
print(dict['name'])

alice

q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

ans:

In [30]:
dict={'name':'bob', 'age':22, 'city':'new york'}
dict.pop('age')
print(dict)

{'name': 'bob', 'city': 'new york'}

q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

ans:

In [31]:
dict = {'name': 'alice', 'city':'paris'}
print('city' in dict)

True

q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

ans:

In [32]:
list=[1, 2, 3]
tuple=(4, 5,6)
dict={'item':"pen", 'price': 20, "brand": 'cello'}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
(4, 5, 6)
{'item': 'pen', 'price': 20, 'brand': 'cello'}

q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

ans:

In [33]:
list=[10, 5, 22, 30]
list.sort()
print(list)

[5, 10, 22, 30]

q28.  Write a code to create a list with strings and print the element at the third index.

ans:

In [34]:
list =['dheeraj', 'pwskills', 'devops', 'course']
print(list[2])

devops

q29.  Write a code to combine two dictionaries into one and print the result.

ans:

In [35]:
dict ={"name": 'dheeraj', 'age':20}
dict2 = {'city':'udaipur', 'state':'rajasthan'}
dict.update(dict2)
print(dict)

{'name': 'dheeraj', 'age': 20, 'city': 'udaipur', 'state': 'rajasthan'}

q30.  Write a code to convert a list of strings into a set.

ans:

```

```

In [46]:
lt =['dheeraj', 'pwskill', 'devops']
new = set(lt)
print(new)

TypeError: 'list' object is not callable